
/* BOJE

crna:        #333333
bijela:      #FFFFFF
plava:       #D9D9D9
narančasta:  #FF785A
crvena:      #CC2936

extra crna: #131313
formal gray: #f2f3f7
crvena-hover: #ff3333

*/
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
} 

#top {
    position: fixed;
    top: 0px;
    background-color: #333333;
    color: white;
    padding: 5px;
    border-bottom: solid 2px #353535;
    border-top: solid 2px #353535;
    height: 60px;
    width: 100%;
    z-index: 100;
}

#top-content-right{
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

#top-content-login{
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
}

.logo{
    width: 265px;
}

@media only screen and (min-width: 0px) and (max-width: 760px){
    .logo{
        display: none;
    }
}

.languageSelect{
    background: transparent;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    color: #FFFFFF;
}

.languageSelect *{
    background: #333333;
}

.loginButton {
    border-radius:0px;
    border: 1px white solid;
    background: none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1px 15px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 0px 0px red;
    height: 25px;
}
.loginButton:hover{
    background-color: #FF785A;
    border: 1px solid transparent;
    cursor: pointer;
}

.loginUserInfo-user{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #F0F8FF;
    margin-right: 15px; 
    text-decoration: none;
}
.loginUserInfo-user:hover{
    color:#048BA8;
    cursor: pointer;
}

#navigation {
    background-color: #ece3a5;
    background-color: transparent;
    border: 1px #333333 solid;
    border-left: none;
    border-right: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    top:60px;
}

.navigation-link{
    text-decoration: none;
    letter-spacing: 2px;
    color: #333333;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
}

.navigation-link:hover{
    color: #FFFFFF;
    background: #333333;
}

#content {
    position: unset;
    bottom: 0px;
    background-color: #FFFFFF;
    margin: auto 15% auto 15%;
    height: auto;
    padding: 10px 0px 10px 0px;
}


#bottom {
    position: relative;
    color: #FFFFFF;
    background-color: #333333;
    margin: 10px 0px 0px 0px;
    height: 200px;
    width: 100%;
}
#bottom-left{
    padding: 20px;
    width: 49%;
    height: 80%;
    float:left;
    
}

#bottom-splitter{
    margin-top: 20px;
    border-right: 1px solid #D9D9D9;
    width: 1%;
    height: 60%;
    float:left;
}
#bottom-splitter-down{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #D9D9D9;
    width: 97%;
    height: 1%;
    float:left;
}

.bottom-left-header{
    display: block;
    margin-bottom: 10px;
    color: #D9D9D9;
}

.bottom-left-label{
    display: block;
    padding-left:5px;
    margin-bottom: 10px;
    width: 100%;
    color: #D9D9D9;
}

#bottom-right{
    width: 50%;
    height: 80%;
    float:right;
}

.bottom-right-text{
    color: #D9D9D9;
    padding: 20px;
    display: block;
    width: 60%;
    letter-spacing: 1px; 
    overflow-wrap: break-word;
}

#bottom-down{
    text-align: center;
    width: 100%;
    height: 19%;
    float: left;      
}

.bottom-down-label{
    color:#D9D9D9;
    display: block;
    padding-top: 10px;
}

